*{font-family: 'Montserrat', sans-serif; color: #47525d;}
.branco{background-color: #FFF;}
#logount:hover{background-color: red;}
.hrsbotao{background: #30a5ff !important; color:#fff !important;}
.hrsbotao:hover{background: #30a5ff !important; opacity: 0.9}
.verde{background-color: #1fc572 !important;}
.verde:hover{background-color: #1fc572 !important; opacity: 0.9}